html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


/* --- Forzar scroll vertical global --- */
html, body, app-root {
  min-height: 100% !important;
  height: auto !important;
  overflow-y: auto !important;
  overflow-x: hidden;
}

/* Si tenías algo que hacía la pantalla fija */
body, app-root, .app-shell, .content-wrapper {
  max-height: none !important;
}
