<div class="container">
  <div class="banner">
    <img src="assets/banner.jpg" alt="Banner gimnasio" />

    <div class="text-overlay">
      <h2>Bienvenido a FitSo</h2>
      <p class="subtitle">Transforme su cuerpo y su mente</p>
      <p class="description">
        Aquí es donde el sudor se transforma en éxito. No esperes. Comienza ahora tu viaje fitness.
      </p>
    </div>
  </div>

  <div class="right-panel">
    <h1>FitSo</h1>
    <h3>Todo comienza por un pequeño paso</h3>

    <div class="buttons">
      <!-- ✅ Navega a /register -->
      <button routerLink="/register" class="btn btn-register">
        Registrar
      </button>

      <!-- ✅ Navega a /login -->
      <button routerLink="/login" class="btn btn-login">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>
